[Desktop Entry]
Encoding=UTF-8
Name=Astral Core
Comment=Connect to the Astral P2P Network
Comment[de]=Verbinde mit dem Astral peer-to-peer Netzwerk
Comment[fr]=Astral, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Astral, eşten eşe kriptografik sanal para birimi
Exec=astral-qt %u
Terminal=false
Type=Application
Icon=astral128
MimeType=x-scheme-handler/astral;
Categories=Office;Finance;
