
## <summary>policy for opteron</summary>


########################################
## <summary>
##	Transition to opteron.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`opteron_domtrans',`
	gen_require(`
		type opteron_t, opteron_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, opteron_exec_t, opteron_t)
')


########################################
## <summary>
##	Execute opteron server in the opteron domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opteron_initrc_domtrans',`
	gen_require(`
		type opteron_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, opteron_initrc_exec_t)
')


########################################
## <summary>
##	Search opteron lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opteron_search_lib',`
	gen_require(`
		type opteron_var_lib_t;
	')

	allow $1 opteron_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read opteron lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opteron_read_lib_files',`
	gen_require(`
		type opteron_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, opteron_var_lib_t, opteron_var_lib_t)
')

########################################
## <summary>
##	Manage opteron lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opteron_manage_lib_files',`
	gen_require(`
		type opteron_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, opteron_var_lib_t, opteron_var_lib_t)
')

########################################
## <summary>
##	Manage opteron lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`opteron_manage_lib_dirs',`
	gen_require(`
		type opteron_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, opteron_var_lib_t, opteron_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a opteron environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`opteron_admin',`
	gen_require(`
		type opteron_t;
		type opteron_initrc_exec_t;
		type opteron_var_lib_t;
	')

	allow $1 opteron_t:process { ptrace signal_perms };
	ps_process_pattern($1, opteron_t)

	opteron_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 opteron_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, opteron_var_lib_t)

')

