
## <summary>policy for astral</summary>


########################################
## <summary>
##	Transition to astral.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`astral_domtrans',`
	gen_require(`
		type astral_t, astral_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, astral_exec_t, astral_t)
')


########################################
## <summary>
##	Execute astral server in the astral domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`astral_initrc_domtrans',`
	gen_require(`
		type astral_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, astral_initrc_exec_t)
')


########################################
## <summary>
##	Search astral lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`astral_search_lib',`
	gen_require(`
		type astral_var_lib_t;
	')

	allow $1 astral_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read astral lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`astral_read_lib_files',`
	gen_require(`
		type astral_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, astral_var_lib_t, astral_var_lib_t)
')

########################################
## <summary>
##	Manage astral lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`astral_manage_lib_files',`
	gen_require(`
		type astral_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, astral_var_lib_t, astral_var_lib_t)
')

########################################
## <summary>
##	Manage astral lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`astral_manage_lib_dirs',`
	gen_require(`
		type astral_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, astral_var_lib_t, astral_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a astral environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`astral_admin',`
	gen_require(`
		type astral_t;
		type astral_initrc_exec_t;
		type astral_var_lib_t;
	')

	allow $1 astral_t:process { ptrace signal_perms };
	ps_process_pattern($1, astral_t)

	astral_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 astral_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, astral_var_lib_t)

')

